<div class="searchBar" >
    <div class="container446">
        <form action="/search" class="search_form" role="search" method="post">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm"
                placeholder="Search about Mitads..."  class="input_search"/>
        </form>
        <div id="searchClose">close</div> 
    </div>
    </div>