<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration & Login</title>
        <link rel="stylesheet" href="/file.css">
    </head>

    <body>
        <header>
            <h2 class="logo"><a href="MikalBlog">MikalBlog</a></h2>
            <nav class="navigation">
                <a href="#">Home</a>

                <button class="btnlogin-popup">Login</button>
                <button class="btnRegistration-popup">Registration</button>
            </nav>
        </header>

        <%locals.list.map((blog)=>{ %>
            <div class="post">
                <div class="image">

                    <img
                        src="https://www.researchgate.net/publication/343993976/figure/fig1/AS:1083910347853834@1635435773969/Atse-Fasil-Campus-cafeteria-kitchen-while-baking-injera-from-firewood.jpg">
                </div>

                <div class="texts">
                    <h2>
                        <%= blog.title %>
                    </h2>

                    <p class="info">
                        <a class="author">
                            <%= blog.author.name %>
                        </a>
                        <time>
                            <%= new Date(blog.createdAt).toLocaleDateString("en-US")%>
                        </time>
                    </p>

                    <p class="summary">
                        <%= blog.content %>
                    </p>

                </div>
            </div>
            <%})%>



                <body>

                </body>

</html>