<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= locals.title %>
    </title>
    <meta name="description" content="<%= locals.description %>">
  </head>

  <body>


    <form action="/register" method="post">
      <label>Name:</label>
      <input type="text" name="name" />

      <label>Email:</label>
      <input type="text" name="email" />

      <label>Password:</label>
      <input type="text" name="password" />

      <label>Avatar:</label>
      <input type="file" name="avatar" />
      <!-- 
      <button type="text">Register</button> button type should be submit-->
      <button type="submit">Register</button>
    </form>

  </body>

</html>